@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* --------------Cuerpo-------------- */
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #1e1d2b;
}
/* ---------------------------------- */

/* Barra de navegación */
.texto-navegacion {
    height: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fondo-tele a:hover{
    background-color: #ff702a;
    border-radius: 10%;
}
/* -------------------- */

/* Contenedores Full Website & About Us */
.content-1 {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
}

.content-1 img{
    width: 80%;
    background: cover;
}

.content-1 .card{
    background-color: transparent;
    border: none;
}

.imagen-1{
    background-color: transparent;
    border: none;
}

.imagen-1 .card{
    background-color: transparent;
    border: none;
}

.full-website > h1{
    color: #ff702a;
    font-size: 400%;
}

.full-website > h5{
    color: #ff702a;
    font-size: 100%;
}

.full-website > h6{
    color: #ffffff;
}

.button-full{
    background-color: #ff702a;
    color: white;
    border: none;
}

.full-website .speak{
    font-size: 300%;
}

.full-website .distracted{
    font-size: 130%;
}
/* ------------------------------------- */

/* Contenedor Menu Food */
.menu-food{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 5%;
}

.icono-menu-food{
    position:absolute;
    top: 0;
    right: 3%;
    cursor: pointer;
    font-size: 200%;
    color: #ff702a;
}

.icono-menu-food:hover{
    color: rgb(105, 49, 9);
}

.menu-food > h4{
    color: #ff702a;
    margin-bottom: 20px;
}

.menu-food > h1{
    color: #ffffff;
    margin-bottom: 20px;
}

.contenedores-pequeños{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 60%;
}

.menu-food .contenedores-pequeños .card{
    background-color: #ffefe8;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 0%;
}

.menu-food .card .text-muted{
    color: #ff702a !important;
}

.contenedores-pequeños .card img{
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
}
/* ------------------------------------------- */

/* Contenedor Menu Services */
.menu-services{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 5%;
}

.menu-services > h4{
    color: #ff702a;
    margin-bottom: 20px;
}

.menu-services > h1{
    margin-bottom: 20px;
    color: #ffffff;
}

.contenedores-pequeños{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 60%;
}

.menu-services .contenedores-pequeños .card h5{
    color: #ff702a;
}

.menu-services .contenedores-pequeños .card p{
    color: #ffffff;
}

.menu-services .contenedores-pequeños .card{
    background-color: transparent;
    border: none;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 0%;
}

.contenedores-pequeños .card img{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
}
/* ---------------------------------- */

/* Contenedor Quality */
.contenedor-quality{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 5%;
}

.mini-contenedor-quality{
    text-align: center;
    background-color: #ffefe8;
    width: 80%;
}

.mini-contenedor-quality h1{
    margin-top: 3%;
    margin-bottom: 3%;
}

.mini-contenedor-quality a{
    margin-bottom: 3%;
}
/* ................... */

/* Contenedor Footer */
.menus-generales{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2%;
}

.listados-menu{
    width: 15%;
}

.listados-menu h4{
    font-size: 140%;
    color: #ffffff;
}

.listados-menu hr{
    margin-top: -1px;
    width: 22%;
    background-color: #ff702a;
    height: 3px;
}

.listados-menu ul{
    list-style: none;
    padding: 0;
}

.listados-menu ul{
    list-style: none;
    text-decoration: none;
    color: white;
}

.listados-menu ul li a{
    list-style: none;
    text-decoration: none;
    color: white;
}

.listados-menu i{
    margin: 0 0 0 5px;
    font-size: 20px;
    cursor: pointer;
    color: #ff702a;
}
/* ------------------------ */

/* ----------------------------------------- */
/* -------Diseño responsive------- */
@media (max-width: 1284px){

    /* Contenedor About Us */
    .full-website > h1{
        color: #ff702a;
        font-size: 250%;
    }
    
    .about > p{
        color: #ff702a;
        font-size: 110%;
    }

    .about .speak{
        font-size: 200%;
    }

    .about h5{
        font-size: 130%;
    }
    
    .about .distracted{
        font-size: 110%;
    }
    /* ------------------- */

    /* Contenedor de Services */
    .contenedores-pequeños{
        width: 80%;
    }
    /* ---------------------- */

    /* Footer */
    .listados-menu{
        width: 18%;
    }
    /* ------ */
}
/* ----------------------------------------- */

/* ----------------------------------------- */
@media (max-width: 978px){

    /* Barra de navegación */
    .fondo-tele{
        background-color: #2c2b47;
    }
    /* ------------------- */

    /* Contenedor de Services */
    .contenedores-pequeños{
        width: 95%;
    }
    /* ---------------------- */

    /* Footer */
    .listados-menu{
        width: 24%;
    }
    /* ------ */
}
/* ----------------------------------------- */

/* ----------------------------------------- */
@media (max-width: 768px){

    /* Barra de navegación */
    .fondo-tele{
        background-color: #2c2b47;
    }
    /* ------------------- */

    /* Contenedor Full Website */
    .content-1{
        display: flex;
        flex-direction: column;
    }

    .content-1 .col-sm-5{
        text-align: center;
        width: 80%;
    }

    .content-1 .col-sm-4{
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .content-1 img{
        width: 50%;
    }
    /* ---------------------- */

    /* Contenedor About Us */
    .movil{
        display: flex;
        flex-direction: column-reverse;
    }

    .movil .card {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    /* ------------------ */

    /* Contenedor Menu Food */
    .contenedores-pequeños{
        width: 95%;
    }

    .menu-food .contenedores-pequeños{
        display: flex;
        flex-direction: column;
    }

    .menu-food .contenedores-pequeños .card{
        margin-bottom: 2%;
    }
    /* -------------------- */

    /* Contenedor Menu Servicios */
    .menu-services .contenedores-pequeños{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .menu-services .contenedores-pequeños .card{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }

    .contenedores-pequeños .card img{
        width: 60%;
    }

    .menu-services .contenedores-pequeños .card .card-body{
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-services .contenedores-pequeños .card .card-text{
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        width: 70%;
    }

    .menu-services .imagenes-servicios{
        width: 40%;
    }
    /* ------------------------- */

    /* Contenedor Footer */
    .menus-generales{
        margin-top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .listados-menu{
        width: 80%;
        margin-bottom: 10px;
    }

    .contactt{
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .contactt hr{
        margin-left: 50%;
        transform: translateX(-50%);
    }
    /* ----------------- */
}
/* ----------------------------------------- */